html, body {
    height: 100%;
}
body {
    background-image: url("../images/gravel.png");
    display: flex;
    flex-direction: column;
    overflow: auto;
}
/*Span of About Me Page*/
.container {
    flex: 1 0 auto;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: 20px auto 80px;
    float: left;
    padding: 10px;
    line-height: 1.3;
}
/*Span of Portfolio Page*/
.container-2 {
    flex: 1 0 auto;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: 20px auto 80px;
    float: left;
    padding: 10px;
}
/*Span of Contact Me Page*/
.container-3 {
    flex: 1 0 auto;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: 20px auto 90px;
    float: left;
    padding: 15px;
}
/*Sticky Footer at bottom of every page*/
.footer {
    flex-shrink: 0;
    text-align: center;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
    padding: 10px;
    color: #ffffff;
    }
/*Title at top of content*/
.title{
    color: #4aaaa5;
    border-bottom: 4px solid;
    border-color: #cccccc;
    margin: 10px;
    padding: 0px 0px 15px 5px;
    font-size: 30px;
}

/*Bio Text and Image on index.html*/
.bio {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: 890px;
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
}
/* Header at the top of every page*/
.header {
    background-color: #ffffff;
    border-bottom: 5px solid;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 300px;
    margin-bottom: 20px;
}
/*My name at the top of each page*/
.Name {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 250px;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    float: left;
}
/*Navigation buttons at the top of the page*/
.buttons {
    position: relative;
    top: 20px;
    right: 20px;
    margin: 10px;
    float: right;
    font-size: 17px;
    padding-right: 275px;
    color: #777777;
}
/*Right now just profile picture*/
img {
    margin: 5px 10px 5px 10px;
    padding: 0;
    width: 250px;
    height: 200px;
    float: left;
}
/*Decoration for Navigation buttons*/
a {
    text-decoration: none;
    color: #777777;
    padding: 10px;
}
/*Input boxes on contact.html*/
.inputs {
    margin: 5px;
    padding: 5px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
/*Name input box on contact page*/
.input-1 {
    height: 20px;
    width: 99%;
}
/*Email input box on contact page*/
.input-2 {
    height: 20px;
    width: 99%;
}
/*Message input box on contact page*/
.input-3 {
    width: 99%;
    height: 200px;
}
/*Submit button of contact me page*/
.submit {
    position: relative;
    left: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 100px;
    font-size: 20px;
}
/*Project image links*/
.content-box img {
    width: 250px;
    height: 250px;
    border: 0;
    padding: 0;
    margin: 30px;
    margin-right: 20px;
}
/*Divs containing image and text for absolute positioning to work*/
.content-box {
    position: relative;
    border: 0;
    float: left;
    margin: 0;
    padding: 0;
}
/*Textblocks containing links over each portfolio image*/
.content-box h4 {
    position: absolute;
    bottom: 60px;
    left: 30px;
    width: 73%;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px;
    margin: auto;
    height: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Hover effects for portfolio image textbox*/
h4:hover {
    color: #4aaaa5;
    background-color: #666666;
}
/*Hover effects for navigation tabs*/
nav a:hover {
    color: #4aaaa5;
}
/*Fix for reset.css to h1 tag*/
h1 {
    font-weight: bold;
    font-style: normal;
}
/*GitHub link over Profile Picture hover effect*/
.pic:hover {
    opacity: 0.5;
}
/*Profile Picture Div sizing*/
.pic {
    width: 250px;
    height: 200px;
    float: left;
    margin: -35px 20px 20px 0px;
}
/*Hover effect of Submit Button on Contact Page*/
.submit:hover {
    background-color: #666666;
    color: #4aaaa5;
}
/*Submit button active effect*/
.submit:active {
    color: red;
}
/*nav button active effects*/
nav a:active {
    color: red;
}