html, body {
    height: 100%;
}
body {
    background-image: url("../images/gravel.png");
    display: flex;
    flex-direction: column;
    overflow: auto;
    clear: both;
}
/*Span of each page*/
.container {
    flex: 1 0 auto;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
    margin: auto;
    float: left;
    padding: 5px;
}
/*Sticky Footer at bottom of every page*/
.footer {
    flex-shrink: 0;
    text-align: center;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
    padding: 10px;
}
/*About Me Title*/
.title-1 {
    color: #4aaaa5;
    border-bottom: 4px solid;
    border-color: #cccccc;
    margin: 10px;
    font-size: 20px;
}
/*Portfolio Title*/
.title-2 {
    color: #4aaaa5;
    border-bottom: 4px solid;
    border-color: #cccccc;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
/*Contact Title*/
.title-3 {
    color: #4aaaa5;
    border-bottom: 4px solid;
    border-color: #cccccc;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
/*Bio Text on index.html*/
.bio {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 900px;
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
}
/* Header at the top of every page*/
.header {
    background-color: #ffffff;
    border-bottom: 5px solid;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*My name at the top of each page*/
.Name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    margin: 20px;
    padding: 20px;
    float: left;
}
/*Navigation buttons at the top of the page*/
.buttons {
    position: relative;
    top: 40px;
    right: 20px;
    margin: 10px;
    float: right;
}
/*Right now just profile picture*/
img {
    margin: 5px;
    padding: 5px;
    float: left;
}
/*Decoration for Navigation buttons*/
a {
    text-decoration: none;
    color: #777777;
}