html {
    height: 100%;
}
body {
    background-image: url("../images/gravel.png");
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    clear: both;
}
.container {
    flex: 1 0 auto;
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
}
.footer {
    flex-shrink: 0;
    text-align: center;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
}
.title-1 {
    color: #4aaaa5;
}
.bio {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}
.Name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
